{% extends "base.html" %}
{% block title %}Crea mapa{% endblock %}
{% block html_head %}
    <link rel="stylesheet" href="../static/styles/archivosValidos.css">
{% endblock %}
{% block content %}
<div class="grid-container">
            <div class="grid-item">
                <form method="post" action="/crear_mapa_success">
                    <div class="container-2">
                        <div class="column">
                            <img src="../static/img/successfulPage.png" height=300px />
                        </div>

                        <div class="column">
                            <h1 class="text-sm">
                                ¡Archivos validados exitosamente!
                            </h1>
                        </div>
                    </div>
                    <div class="d-grid gap-2">
                        <button class="btn btn-lg button" type="submit" name="action1" value="VALUE1">
                            <i class="bi bi-hand-index-thumb"></i>
                            <h3 class="display-9">Crear mapa</h3>
                        </button>
                    </div>
                </form>
            </div>
        </div>
{% endblock %}