{% extends "base.html" %}
{% block title %}Crea mapa{% endblock %}
{% block content %}
<div class="grid-layout3">
    <div class="cont8">
        <h2>Listo para crear mapa</h2>
    </div>
    <div class="cont9">

    </div>
    <div class="cont10">
        <form method="post" action="/crear_mapa_success">
            <div class="d-grid gap-2">
                <button class="btn btn-lg btn-primary" type="submit" name="action1" value="VALUE1">Crear mapa</button>
            </div>
        </form>
    </div>
    <div class="cont11">
        <div class="alert alert-dismissible alert-success">
            <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
            <strong>¡Archivos validados!</strong> Da click en crear mapa para poder visualizarlo
        </div>
    </div>
</div>
{% endblock %}