<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="{{ url_for('static', filename='styles/bootstrap1.min.css') }}">
        <title>Crear Mapa</title>
    </head>
    <body>
        <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
            <div class="container-fluid">
                <a class="navbar-brand" href="/">GeoVis</a>
                <button class="navbar-toggler" type="button"
                    data-bs-toggle="collapse" data-bs-target="#navbarColor01"
                    aria-controls="navbarColor01" aria-expanded="false"
                    aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarColor01">
                    <ul class="navbar-nav me-auto">
                        <li class="nav-item">
                            <a class="nav-link active" href="/upload_file">Crear
                                mapa
                                <span class="visually-hidden">(current)</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active" href="/quienes_somos">Quiénes
                                somos</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
        <div class="grid-layout3">
            <div class="cont8">
                <h2>Listo para crear mapa ( ͡° ͜ʖ ͡°)</h2>
            </div>
            <div class="cont9">
                
            </div>
            <div class="cont10">
                <form method="post" action="/crear_mapa_success">
                    <div class="d-grid gap-2">
                        <button class="btn btn-lg btn-primary" type="submit" name="action1" value="VALUE1">Crear mapa</button>
                    </div>
                </form>
            </div>
            <div class="cont11">
                <div class="alert alert-dismissible alert-success">
                    <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
                    <strong>Archivos validados!</strong> Da click en crear mapa para poder visualizarlo
                </div>
            </div>
        </div>
    </body>
</html>