{% extends "base.html" %}
{% block title %}Crea mapa{% endblock %}
{% block content %}
<div class="grid-layout3">
    <div class="cont8">
        <h2>Ingresa tus archivos</h2>
    </div>
    <div class="cont9">
        {% for message in get_flashed_messages()%}
        <div class="alert alert-dismissible alert-danger">
            <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
            <strong>Oh snap!</strong> {{message}}
          </div>
        {% endfor %}
    </div>
    <div class="cont10">

        <form action="/upload_file" method="post" enctype="multipart/form-data">
            <div class="form-group">
                <label for="formFile" class="form-label mt-4">Ingresa tus archivos</label>
                <input class="form-control" type="file" id="formFile" name="files2" multiple>
            </div>
            <div class="d-grid gap-2">
                <button class="btn btn-lg btn-primary" type="submit">Subir</button>
            </div>
        </form>

    </div>
    <div class="cont11">
        <div class="alert alert-dismissible alert-warning">
            <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
            <h4 class="alert-heading">¡Alerta!</h4>
            <p class="mb-0">Debes subir cuatro archivos con las extensiones .shp, .shx, .prj y .dbf.</p>
          </div>
    </div>
</div>
{% endblock %}