<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>500 Internal Error</title>
  <meta name="viewport" content="width=device-width, initial-scale=1"><link rel="stylesheet" href="{{ url_for('static', filename='styles/error.css') }}">

</head>
<body>
<!-- partial:index.partial.html -->


<div class="browser">
  <div class="controls">
    <i></i>
    <i></i>
    <i></i>
  </div>
  
  <div class="eye"></div>
  <div class="eye"></div>
  <div class="mouth">
    <div class="lips"></div>
    <div class="lips"></div>
    <div class="lips"></div>
    <div class="lips"></div>
    <div class="lips"></div>
    <div class="lips"></div>
    <div class="lips"></div>
    <div class="lips"></div>
  </div>
</div>

<h1>Error: No se puede trabajar con esa geometria.</h1>
<p><a href="/upload_file">Regresar</a>.</p>

</body>
</html>