{% extends "base.html" %}
{% block title %}GeoVis{% endblock %}
{% block content %}
<div class="grid-layout">
    <div class="cont1">
        <div class="card border-success mb-3" style="max-width: 30rem;">
            <div class="card-header">¿Que es GeoVis?</div>
            <div class="card-body">
              <h4 class="card-title">GeoVis</h4>
              <p class="card-text">GeoVis es una plataforma que te permite convertir archivos con extensión .shp en mapas de visualización de datos</p>
            </div>
          </div>
        <!--<h2>¿Qué es GeoVis?</h2>
        <p></p>
        <p>GeoVis es una plataforma que te permite convertir archivos con extensión .shp en mapas de visualización de datos</p>-->
    </div>
    <div class="cont2">
        <div class="card border-primary mb-3" style="max-width: 30rem; max-height: 20rem;">
            <div class="card-header">¿Cuál es nuestro objetivo?</div>
            <div class="card-body">
              <h4 class="card-title">Objetivo</h4>
              <p class="card-text">El objetivo GeoVis es hacer la información geográfica más accesible para el público en general.</p>
            </div>
          </div>
        <!--<h2>¿Cuál es nuestro objetivo?</h2>
        <p></p>
        <p>El GeoVis es hacer la información geográfica más accesible la información geográfica</p>-->
    </div>
    <div class="cont3">
        <div class="alert alert-dismissible alert-warning">
            <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
            <h4 class="alert-heading">¿Dónde conseguir archivos.shp?</h4>
            <p class="mb-0">Puedes conseguir archivos .shp <a href="https://www.inegi.org.mx/app/mapas/" class="alert-link">aquí</a>.</p>
          </div>
    </div>
    <div class="cont4">
        <img src="{{ url_for('static', filename='img/mapa5.jpg') }}" width="760px" height="500px" alt="Mapa de Querétaro">
    </div>
</div>
{% endblock %}