{% extends "base.html" %}
{% block title %}Mapa{% endblock %}
{% block html_head %}
    <link href="../static/styles/mapa_style.css" rel="stylesheet">
    <link href='https://unpkg.com/gridjs/dist/theme/mermaid.min.css' rel='stylesheet'>
    <script src="https://cdn.jsdelivr.net/npm/gridjs/dist/gridjs.umd.js"></script>
    <script src="https://unpkg.com/gridjs/l10n/dist/l10n.umd.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chartjs-plugin-colorschemes"></script>
{% endblock %}
{% block content %}
    <div class="mapa-container">
        <div class="mapa">
            {% block mapa %}{{ iframe|safe }}{% endblock %}
        </div>
        <div class="flex-wrapper">
            <div class="descargar">
                <div class="dropdown">
                  <button class="btn btn-lg btn-primary dropdown-toggle" type="button" data-toggle="dropdown" aria-expanded="false">
                    Descargar
                  </button>
                  <div class="dropdown-menu">
                    <a class="dropdown-item" href="{{ url_for('views.descargar_mapa', archivo='mapa_generado', formato='html') }}">Mapa como HTML</a>
                    <a class="dropdown-item" href="{{ url_for('views.descargar_mapa', archivo='mapa_generado', formato='png') }}">Mapa como PNG</a>
                    <a class="dropdown-item" href="{{ url_for('views.descargar_reporte', archivo='datos') }}">Descargar reporte como xlsx</a>
                  </div>
                </div>
            </div>
        </div>
    </div>

    <div id="accordion">
        <div class="card">
            <div class="card-header" id="headingOne">
                <h3 class="mb-0">
                    <button class="btn btn-link barra" data-toggle="collapse" data-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                      Tabla
                    </button>
                </h3>
            </div>
            <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">
                <div class="tabla card-body">
            {% block tabla %}
                <div id="datos-wrapper"></div>
                <script>
                    document.addEventListener('DOMContentLoaded', () => {
                        const columnas = JSON.parse('{{ columnas_tabla | tojson | safe}}');
                        const datos = JSON.parse('{{ datos_tabla | tojson | safe}}');
                        const datosLimpios = datos.map(dato => {
                            const nuevoDato = {}
                            Object.keys(dato).forEach(key => {
                                nuevoDato[key.toLowerCase()] = dato[key]
                            })
                            return nuevoDato
                        })

                        console.log(datosLimpios)

                        new gridjs.Grid({
                            columns: columnas,
                            data: datosLimpios,
                            pagination: {
                                limit: 10,
                                summary: false
                            },
                            sort: true,
                            search: true,
                            resizable: true,
                            language: {
                                'search': {
                                  'placeholder': '🔍 Buscar...'
                                },
                                'pagination': {
                                    'previous': 'Anterior', // '⬅️',
                                    'next': 'Siguiente', // '➡️',
                                    'showing': 'Mostrando',
                                    'results': () => 'resultados'
                                }
                            }
                        }).render(document.getElementById('datos-wrapper'));
                    });
                </script>
            {% endblock %}
        </div>
            </div>
        </div>
    </div>

    <div id="accordion2">
        <div class="card">
            <div class="card-header" id="headingTwo">
              <h3 class="mb-0">
                <button class="btn btn-link barra" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                  Gráficas
                </button>
              </h3>
            </div>
            <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion2">
              <div class="graficas-grid card-body" id="graficas-container"></div>
            </div>
          </div>
    </div>

    <script>
        document.addEventListener("DOMContentLoaded", function() {
            const datos_graficas = JSON.parse('{{ datos_graficas | tojson | safe}}')
            console.log(datos_graficas)

            const graficasContainer = document.getElementById('graficas-container');

            const paletaColores = {
                scheme: 'brewer.Paired12' // Cambia 'Paired12' a la paleta de tu elección
            };

            for (let columna in datos_graficas) {
                let div = document.createElement('div');
                let canvas = document.createElement('canvas');
                div.className = "card card-body" // Asigna clases al div
                canvas.id = columna; // Asigna el id igual a la columna
                div.appendChild(canvas);
                graficasContainer.appendChild(div);

                // Crea la gráfica de barras para cada columna
                let ctx = document.getElementById(columna).getContext('2d');
                if (datos_graficas[columna].tipo === "pastel") {
                    new Chart(ctx, {
                        type: 'pie',
                        data: {
                            labels: datos_graficas[columna].etiquetas,
                            datasets: [{
                                data: datos_graficas[columna].cantidades,
                                borderWidth: 1
                            }]
                        },
                        options: {
                            responsive: true,
                            // Aplica la paleta de colores
                            plugins: {
                                colorschemes: {
                                    scheme: paletaColores.scheme
                                },
                                title: {
                                    display: true,
                                    text: columna
                                }
                            }
                        },
                    });
                } else if (datos_graficas[columna].tipo === "histograma") {
                    new Chart(ctx, {
                        type: 'bar',
                        data: {
                            labels: datos_graficas[columna].etiquetas,
                            datasets: [{
                                label: columna,
                                data: datos_graficas[columna].cantidades,
                                borderWidth: 1,
                                barPercentage: 1,
                                categoryPercentage: 1,
                                borderRadius: 5,
                            }]
                        },
                        options: {
                            responsive: true,
                            // Aplica la paleta de colores
                            plugins: {
                                colorschemes: {
                                    scheme: paletaColores.scheme
                                }
                            }
                        },
                    });
                }
            }
        });
        </script>
{% endblock %}
