{% extends "base.html" %}
{% block title %}Mapa{% endblock %}
{% block html_head %}
    <link href="../static/styles/mapa_style.css" rel="stylesheet">
    <link href='https://unpkg.com/gridjs/dist/theme/mermaid.min.css' rel='stylesheet'>
    <script src="https://cdn.jsdelivr.net/npm/gridjs/dist/gridjs.umd.js"></script>
    <script src="https://unpkg.com/gridjs/l10n/dist/l10n.umd.js"></script>
{% endblock %}
{% block content %}
    <div id="mapa-container">
        <div id="mapa">
            {% block mapa %}{{ iframe|safe }}{% endblock %}
        </div>
    </div>
    <div id="tabla">
        {% block tabla %}
            <div id="datos-wrapper"></div>
            <script>
                document.addEventListener('DOMContentLoaded', () => {
                    const columnas = JSON.parse('{{ columnas_tabla | tojson | safe}}');
                    const datos = JSON.parse('{{ datos_tabla | tojson | safe}}');
                    const datosLimpios = datos.map(dato => {
                        const nuevoDato = {}
                        Object.keys(dato).forEach(key => {
                            nuevoDato[key.toLowerCase()] = dato[key]
                        })
                        return nuevoDato
                    })

                    new gridjs.Grid({
                        columns: columnas,
                        data: datosLimpios,
                        pagination: {
                            limit: 10,
                            summary: false
                        },
                        sort: true,
                        search: true,
                        resizable: true,
                        language: {
                            'search': {
                              'placeholder': '🔍 Buscar...'
                            },
                            'pagination': {
                                'previous': 'Anterior', // '⬅️',
                                'next': 'Siguiente', // '➡️',
                                'showing': 'Mostrando',
                                'results': () => 'resultados'
                            }
                        }
                    }).render(document.getElementById('datos-wrapper'));
                });
            </script>
        {% endblock %}
    </div>
{% endblock %}
