{% extends "base.html" %}
{% block title %}Quiénes somos{% endblock %}
{% block content %}
<div class="grid-layout2">
    <div class="cont5">
        <h2>¿Quiénes somos?</h2>
    </div>
    <div class="cont6">
        <figure>
            <blockquote class="blockquote">
              <p class="mb-0">Somos una empresa que se dedica a proporcionar una herramienta que otorgue la facilidad de convertir datos geográficos almacenados en archivos con extension .shp en mapas interactivos que te permitan tener una mejor comprensión.</p>

            </blockquote>
            <figcaption class="blockquote-footer">
              Haciendo más accesible la información <cite title="Source Title">GeoVis</cite>
            </figcaption>
          </figure>
    </div>
    <div class="cont7">
        <img alt="Mapa de Querétaro" width="650px" height="400px" src={{ url_for('static', filename='img/mapa3.png') }}>
    </div>
</div>
{% endblock %}