.grid-container {
    display: grid;
    grid-template-rows: auto; /* Filas se ajustan automáticamente a la altura del contenido */
    gap: 10px; /* Espacio entre los elementos */
}
.grid-item {
    text-align: center;
}

.container-2 {
  display: flex; /* Establece el contenedor como flexbox */
max-width: 1024px;
}

.column {
  flex: 1; /* Hace que ambas columnas ocupen el mismo espacio disponible */
  padding: 10px;
  border: 1px ;
}


form{
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -100px;
  margin-left: -250px;
  height: 200px;
 
}
form p{
  width: 100%;
  height: 100%;
  text-align: center;  
  font-family: Arial;
}
form input{
  position: absolute;
  margin: 0;
  padding: 0;
  width: 300px;
  height: 300px;
  outline: none;
  opacity: 0;
}

.file-drop {
display: flex;
justify-content: space-between;
align-items: center;
flex-direction: column;
width: 100%;
height: 90%;
min-height: 180px;
border-width: 3px;
border-style: dashed;
border-color: #cbd5e0;
background-color: #edf2f7;
transition: background-color 160ms ease, border-color 400ms ease;
}
.file-drop.dragover {
background-color: #feeee9;
}

form button{
  color: #fff;
  background: #16a085;
  border: none;
  height: 35px;
  margin-top: -20px;
  margin-left: -4px;
  border-radius: 4px;
  border-bottom: 4px solid #117A60;
  transition: all .2s ease;
  outline: none;
}
form button:hover{
  background: #149174;
	color: #0C5645;
}
form button:active{
  border:0;
}


form button{  
  color: #fff;
  background: #16a085;
  border: none;
  
  height: 35px;
  margin-top: -20px;
  margin-left: -4px;
  border-radius: 4px;
  border-bottom: 4px solid #117A60;
  transition: all .2s ease;
  outline: none;
}

.button {
  margin-top: auto;
min-height: 42px;
padding: 0 14px;
font-size: 1rem;
color: white;
background-color: #0074E4;
border-color: #0074E4;
position: relative;
display: inline-flex;
justify-content: center;
align-items: center;
flex: 0 0 auto;
border-radius: 4px;
border: 2px solid;
border-color: transparent;
font-weight: 500;
line-height: 1;
user-select: none;
touch-action: manipulation;
box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.2), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
}
.button:focus {
background-color: #ed4410;
border-color: #ed4410;
}
.button:hover {
background-color: #ed4410;
border-color: #ed4410;
}
.button:active {
background-color: #d03c0e;
border-color: #d03c0e;
}
.button.button-outlined {
color: #F1592A;
border-color: currentColor;
}